<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_logo_warusmart"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/logo_warusmart_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Warusmart_appmovil_android"
        tools:targetApi="31">
        <activity
            android:name="com.warusmart.stadistics.interfaces.activities.ProductivityReportActivity"
            android:exported="false" />
        <activity
            android:name="com.warusmart.stadistics.interfaces.activities.EnviromentReportActivity"
            android:exported="false" />
        <activity
            android:name="com.warusmart.forum.interfaces.activities.AnswersActivity"
            android:exported="false" />
        <activity
            android:name="com.warusmart.forum.interfaces.activities.ForumManagementActivity"
            android:exported="false" />
        <activity
            android:name="com.warusmart.iam.interfaces.activities.CreateProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.warusmart.iam.interfaces.activities.SignInActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.warusmart.iam.interfaces.activities.SignUpActivity"
            android:exported="true" />
        <activity
            android:name="com.warusmart.iam.interfaces.activities.PlansActivity"
            android:exported="true" />
        <activity
            android:name="com.warusmart.iam.interfaces.activities.PayActivity"
            android:exported="true" />
        <activity
            android:name="com.warusmart.iam.interfaces.activities.ProfileActivity"
            android:exported="true" />
        <activity
            android:name="com.warusmart.stadistics.interfaces.activities.WaterStatisticsActivity"
            android:exported="false" />
        <activity
            android:name="com.warusmart.crops.interfaces.activities.DeviceActivity"
            android:exported="false" />
        <activity
            android:name="com.warusmart.MainActivity"
            android:exported="false" />
        <activity android:name="com.warusmart.crops.interfaces.activities.CropCareActivity" />
        <activity android:name="com.warusmart.crops.interfaces.activities.ControlsActivity" />
        <activity android:name="com.warusmart.crops.interfaces.activities.DiseasesActivity" />
        <activity android:name="com.warusmart.crops.interfaces.activities.ProductsActivity" />
        <activity android:name="com.warusmart.sowings.interfaces.activities.GeneralCropInfo" />
        <activity android:name="com.warusmart.sowings.interfaces.activities.SowingsHistoryActivity" />
        <activity
            android:name="com.warusmart.sowings.interfaces.activities.SowingsManagementActivity"
            android:exported="true" />
    </application>

</manifest>